.title {
  color: blue;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form-container {
  height: 100vh;
  width: vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  width: 50%;
}

.form-container input {
  display: block;
  padding: 8px;
  border-radius: 10px;
  width: 100%;
}

textarea {
  border-radius: 10px;
  padding: 10px;
}

.input-div {
  margin-bottom: 10px;
}

.input-div-submit input {
  background-color: blue;
  color: #fff;
}

.input-div-submit {
  width: 50%;
}

.submit-container {
  display: flex;
  justify-content: center;
}
